.DropdownButton {
    padding: 10px 15px 0px 15px;
    height: inherit;
}

div.DropdownButton .DropdownBars div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.DropdownButton:hover .DropdownMenu{
    /* background-color: #111; */
    transition: 1s;
    left:0;
}
.DropdownMenu {
    display: block;
    position: absolute;
    top: 57px;
    left: -145px;
    background-color: rgba(173, 173, 173, 0.21);
    opacity: 0.95;
    transition: 1s;
}

.DropdownButton .DropdownMenu a {
    display: block;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
}
