.DropdownButton {
    padding: 10px 15px 0px 15px;
    height: inherit;
}

div.DropdownButton .DropdownBars div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.DropdownButton .showDropdown{
    /* background-color: #111; */
    transition: 1s;
    left:0;
}

.DropdownMenu {
    display: block;
    position: fixed;
    z-index: 1;
    top: 58px;
    left: -381px;
    width: 45%;
    height: 100%;
    background-color: rgba(153, 52, 157, 0.88);
    transition: 1s;
}

.DropdownButton .DropdownMenu a {
    display: block;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
}
