.DropdownMenu {
    display: block;
    position: fixed;
    z-index: 1;
    top: 58px;
    left: -381px;
    width: 45%;
    height: 100%;
    background-color: rgb(45, 133, 189);
    transition: 1s;
}

.DropdownMenu.show{
    transition: 1s;
    left:0;
}

.DropdownMenu .DropdownLinks a:hover {
    box-shadow: 0 0 5px rgb(228, 224, 224); 
}