.Resume{
    height: 100%;
    overflow: auto;
    background: white;
}

.Resume .LeftContent{
    float: left;
    width: 30%;
    height: 100%;
    background: white;
    overflow: auto;
}

.Resume .LeftContent h1{
    float: left;
    margin-top: 100px;
    padding-left: 10px;
}

.Resume .LeftContent h3{
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    color: #b1b1b1;
}

.Resume .LeftContent p{
    clear: both;
    text-align: justify;
    padding: 0 10px;
}

.Resume .LeftContent hr{
    clear: both;
    float: left;
    border: 0;
    height: 3px;
    background-color: #3d98cc;
    width: 50%;
}

.Resume .LeftContent img{
    width: 45%;
    border-radius: 6%;
    box-shadow: 1px 4px 27px -6px rgba(0,0,0,0.75);
    margin-top: 50px;
}
.Resume .RightContent{
    float: right;
    height: 100%;
    width: 70%;
    padding: 20px;
    /* background: #4d4d4d9a */
}

.Resume .RightContent .RightContentBox{
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #000000d9;
    overflow: auto;
}

.Resume .RightContent h1{
    float: left;
    color: white;
}

.Resume .RightContent hr{
    float: left;
    color: white;
    clear: both;
    width: 100%;
    background-color: white;
}

/* when width of screen is smaller than 850px 
hide menu items and show dropdown */
@media only screen and (max-width: 850px) {
    .Resume .RightContent{
        width: 100%;
        min-width: 100%;
        padding-top: 20px;
        height: 100%;
        max-height: 76vh;
    }
    .Resume .LeftContent{
        width: 100%;
        min-width: 100%;
        border-right: 0px;
        border-bottom: 1px #ababaf7a solid;
        height: 100%;
        max-height: 76vh;
        /* max-height: 72vh; */
    }
        
  }