.Contact{
    height: 100%;
    background: white;
}

.Contact .Modal{
    height: 100%;
    background: rgba(0,0,0,.4);
    position: fixed;
    width: 100%;
}

.Contact .Dialog{
    overflow: auto;
    position: relative;
    background: white;
    display: inline-block;
    width: 76vw;
    height: 100%;
    max-height: 64vh;
    margin: 26px auto;
    border: rgb(45, 133, 189) solid 2px;
    padding: 20px;
}

.Contact .LeftContent{
    float: left;
    width: 50%;
    border-right: 1px #ababaf7a solid;
}

.Contact .RightContent{
    float: right;
    height: 100%;
    width: 50%;
}

.Contact .LeftContent img{
    width: 43%;
    border-radius: 6%;
    box-shadow: 1px 4px 27px -6px rgba(0,0,0,0.75);
}

.Contact h1{
    font-weight: bolder;
    margin-bottom: 20px;
}

.Contact hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 70%;
}

.Contact form{
    width: 65%;
    display: inline-block;
}

.Contact button{
    margin-top: 10px;
}

.LeftContent p{
    padding: 20px 0;
    width: 77%;
    font-size: 16px;
    margin: auto;
}

.RightContent svg{
    font-size: 50px;
    max-width: 50px;
    float: left;
    /* margin: 0 0 20px 20px; */
}

.RightContent .ContactInfoElement{
    width: 100%;
    margin: 50px 0;
    height: 50px;
    text-align: left;
    padding-left: 50px;
}

.RightContent .ContactInfoElement h2{
    display: inline-block;
    padding-left: 10px;
}

