.Contact{
    height: 100%;
    /* background: white; */
}

.Contact .Modal{
    height: 100%;
    background: rgba(0,0,0,.4);
    position: fixed;
    width: 100%;
}

.Contact .Dialog{
    overflow: auto;
    position: relative;
    background: white;
    display: flex;
    width: 100%;
    max-width: 73vw;
    height: 100%;
    max-height: 70vh;
    /* min-width: 820px; */
    margin: 26px auto;
    border: rgb(45, 133, 189) solid 2px;
    padding: 20px;
}

.Contact .LeftContent{
    float: left;
    width: 50%;
    height: 100%;
    border-right: 1px #ababaf7a solid;
    /* min-width: 460px; */
    /* position: absolute;
    left: 0; */
}

.Contact .RightContent{
    float: right;
    height: 100%;
    width: 50%;
    /* min-width: 460px; */
    /* position: absolute;
    right: 0; */
}

.Contact .LeftContent img{
    width: 40%;
    border-radius: 6%;
    box-shadow: 1px 4px 27px -6px rgba(0,0,0,0.75);
    margin-top: 30px;
}

.Contact h1{
    font-weight: bolder;
    margin: 20px 0;
}

.Contact form{
    margin-top: 30px;
}

.Contact hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 70%;
}

.Contact form{
    width: 65%;
    display: inline-block;
}

.Contact button{
    margin-top: 10px;
}
.Contact button:hover{
    background: #bdbdbd;
}

.Contact button:focus{
    background: #bdbdbd;
}


.LeftContent p{
    padding: 20px 0;
    width: 77%;
    font-size: 16px;
    margin: auto;
}

.LeftContent .ContactInfoElement{
    width: 100%;
    margin: 30px 0 80px 0;
    height: 50px;
    /* text-align: left;
    padding-left: 50px; */
}

.LeftContent .ContactInfoElement h2{
    /* display: inline-block; */
    padding-left: 10px;
}

.LeftContent .ContactInfoElement svg{
    width: 3em;
    height: 3em;
}


/* when width of screen is smaller than 850px 
hide menu items and show dropdown */
@media only screen and (max-width: 850px) {
    .Contact .Dialog{
        display: block;
        max-width: 95%;
        max-height: 75vh;
    }
    .Contact .RightContent{
        width: 100%;
        min-width: 100%;
        padding-top: 20px;
        max-height: 72vh;
    }
    .Contact .LeftContent{
        width: 100%;
        min-width: 100%;
        border-right: 0px;
        border-bottom: 1px #ababaf7a solid;
        max-height: 72vh;
    }
        
  }