body {
    margin : 0px; 
}
@font-face {
    font-family: 'Antora';
    src: url('../Assets/Fonts/antaro/Antaro.woff') format('woff'),
         url('../Assets/Fonts/antaro/Antaro.ttf') format('truetype');
  }

@font-face {
    font-family: 'YorkBailHill';
    src: url('../Assets/Fonts/york_baile_hill/yorkbailehill.woff') format('woff'),
         url('../Assets/Fonts/york_baile_hill/yorkbailehill.ttf') format('truetype');
}
* {
   font-family:  "YorkBailHill";
}

/* * {
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
 } */
 
.App {
    /* background: #833ab4;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}