.Navbar{
    max-height: 57px;
    width: 100%;
    position: fixed;
    top: 0;
    /* background-color: rgba(153, 52, 157, 1); */
    background-color: rgb(45, 133, 189);
    z-index: 99999;
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1px;
}

.Navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navbar li {
    float: right;
    padding-right: 3px;
}
  
.Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
    max-height: 57px;
}
  
.Navbar  li a:hover {
    box-shadow: 0px -5px 5px rgb(228, 224, 224); 
}

.Navbar .NavbarDropdown {
    float: left;
    overflow:hidden;
    height: 57px;
    width: 57px;
    display: none;
}

.focused{
    box-shadow: 0 0 5px rgb(228, 224, 224); 
}

.Navbar .NavbarTitle{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 15px;
    text-decoration: none;
    font-size: 15px;
}


/* when width of screen is smaller than 850px 
hide menu items and show dropdown */
@media only screen and (max-width: 850px) {
    .Navbar .NavbarDropdown  {
      display: block;
    }

    .Navbar li {
        display: none;
    }
  }
