
.LandingPage .AvatarImg {
    vertical-align: middle;
    width: 20%;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    margin-top: 50px;
}

.LandingPage .IntroImg{
    width: 25vw;
    /* height: 15%; */
    display: block;
    margin: auto;
    padding-top: 20px;
}

/* when width of screen is smaller than 850px 
hide menu items and show dropdown */
@media only screen and (max-width: 850px) {
    .LandingPage .IntroImg{
      width: 35vw;
    }
  }
