.Banner{
    background-color: black;
    opacity: 0.8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0 10px 0;
}

.Banner h1{
    font-size: 5vw;
    font-weight: bold;
    color: white;
}

.Banner hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.Banner p {
    color: white;
    font-size: 20px;
    padding: 15px;
}

.Banner .SocialLinks{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 18%;
}

.Banner .SocialLinks svg{
    color: white;
    font-size: 5em;
}

.Banner .SocialLinks svg:hover{
    color: #ada9a9;
}
/* when width of screen is smaller than 850px 
hide menu items and show dropdown */
@media only screen and (max-width: 850px) {
    .Banner p {
        font-size: 3.4vw;
    }
    .Banner .SocialLinks{
        width: 38%;
    }
    .Banner .SocialLinks svg{
        color: white;
        font-size: 3em;
    }
  }

